<div id="message-<%= message.id %>" style="background: white; margin: 0 20px; border-radius: 10px; padding: 0 10px;">
  <small>
    <strong><%= message.user.username %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
    <p><%= message.content %></p>
</div>