#message-bar {
width: 90%;
}

.scroller {
  background-image: url('https://images.unsplash.com/photo-1579125305607-15279d30d370?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
}

.messager .form-control {
    border-radius: 20px;
    min-height: 100px;
    height: fit-content;
    padding: 30px;
    width: fit-content;
    min-width: 600px;
}

.messager {
float: right;
margin-right: 150px;
}

.cards-bookings {
  margin-left: 150px;
  margin-top: 100px;
}

.card-pink-line1-booking {
  background-color: $pink;
  position: absolute;
  left: 0%;
  right: 41.42%;
  top: 37%;
  bottom: 26.21%;
  width: 40%;
  height: 17.02px;
  z-index: -1;
}

.card-pink-line2-booking {
  background-color: $pink;
  position: absolute;
  left: 0%;
  right: 86%;
  top: 69%;
  bottom: 26.21%;
  width: 48%;
  height: 17.02px;
  z-index: -1;
}

.card-green-line-booking {
  background-color: #25CED1;
  position: absolute;
  left: 12%;
  right: 41.42%;
  top: 53%;
  bottom: 26.21%;
  width: 88%;
  height: 17.02px;
  z-index: -1;
}
