#text-box-event {
  overflow: hidden;
  padding-top: 7%;
  padding-bottom: 11%;
  margin: 0 auto;
  border-radius: 50px;
  width: 95%;
}

#text-box-event-new {
 color-adjust: white;
 width: 95%;
}

#text-box-event-time-new {
  width: 45%;
}

.event_start_time {
  width: 75%;
}

.event_gig_start {
  width: 25%;
}

.event_end_time {
  width: 75%;
}

.event_gig_end {
  width: 25%;
}

.new-event-container {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: white;
    font-family: $inter;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: -0.05em;
    z-index: 10;
  }
}
// .new-event-form .simple-form .d-flex .form-group:first-child{
//   width: 75%;
// }
.time-info {
color: white;
font: $inter;
letter-spacing: -0.05em;
}

.text-stuff {
 margin-left: 20%;
}

.card-pink-line-newevent {
  background-color: $green;
  position: absolute;
  margin-top: 3%;
  margin-left: -50%;
  width: 925px;
  height: 10px;
  z-index: 9;
}

.card-green-line-newevent {
  background-color: $green;
  position: absolute;
  margin-top: 4%;
  margin-left: 56%;
  width: 952px;
  height: 10px;
  z-index: 9;
}
