#text-box-event {
  padding: 20px;
  margin-top: 7%;
}

#text-box-event-new {
 color-adjust: white;
 width: 95%;
}

#text-box-event-time-new {
  width: 45%;
}

.event_start_time {
  width: 75%;
}

.event_gig_start {
  width: 25%;
}

.event_end_time {
  width: 75%;
}

.event_gig_end {
  width: 25%;
}

.new-event-container {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: white;
    font-family: $inter;
    text-align: center;
    margin-bottom: 60px;
  }
}
// .new-event-form .simple-form .d-flex .form-group:first-child{
//   width: 75%;
// }
.time-info {
color: white;

}

.text-stuff {
 margin-left: 20%;
}
