<%= render "shared/artist-show-banner", user: @user %>


<div id="accordion">
  <div class="tabs">
    <div class="image-box">
      <div class="image-box1">
        <img src="https://hrmasia.com/wp-content/uploads/2019/10/55193977_l.jpg" alt="" id="image-user-page1">
      </div>

        <%# <iframe width="420" height="315"src="https://www.youtube.com/watch?v=w5vgn8_WjUE" id="user-video"></iframe> %>
    </div>

    <div class="tabs-right">
      <div class="about-tab">
        <div class="text-arrow d-flex justify-content">
          <h4 id="headingTwo">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo" data-target="#collapseTwo">
              About
            </a>
          </h4>
          <div class="arrow-down-pink"></div>
        </div>
        <div class="tab-green-line"></div>
          <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-collapse">
              I started singing to annoy my family but then I discovered I was pretty good at it so I continued.
            </div>
          </div>
      </div>

      <div class="reviews-tab">
        <div class="text-arrow d-flex justify-content">
          <h4 id="headingThree">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree" data-target="#collapseThree">
              Media
            </a>
          </h4>
          <div class="arrow-down-green"></div>
        </div>
          <div class="tab-pink-line"></div>
              <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-collapse">
                Instagram
                <br>
                Soundcloud
                <br>
                Youtube
                <br>
                Bandcamp
                <br>
                Phone number:
                <br>
                <%= @user.phone_number %>
                </div>
              </div>
      </div>

        <div class="requirements-tab">
          <div class="text-arrow d-flex justify-content">
            <h4 id="headingFour">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour" data-target="#collapseFour">
                Requirements
              </a>
            </h4>
            <div class="arrow-down-pink"></div>
          </div>
          <div class="tab-green-line"></div>
              <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-collapse">
                I need:
                <br>
                - a microphone
                <br>
                - sound equipement
                <br>
                - people to be nice and clap for me
                </div>
              </div>
            </div>

    </div>
  </div>

  <div class="image-box2">
    <img src="https://media.istockphoto.com/photos/large-group-of-people-at-a-concert-party-picture-id1330424071?b=1&k=20&m=1330424071&s=170667a&w=0&h=EGhlDOllzufjMnPa0vxAmRbG_CQAub6xOdXu6nsDju4=" alt="alternatetext" id="image-user-page2" >
  </div>
</div>
