<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579125305607-15279d30d370?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="d-flex">
    <%= link_to "Sign up", new_user_registration_path, class: "signuplogin" %>
    <%= link_to "Login", new_user_session_path, class: "signuplogin" %>
    <%= link_to "My Dashboard", dashboard_path, class: "signuplogin" %>
  </div>
  <div class="container my-5">
    <h1>Gigme</h1>
    <h2>Life is short. Gig more!</h2>
    <div>
      <form action="" method="get">
      <div class="product-search">
        <div class="search-element">
          <label class="search-label">Choose a date:</label>
          <input class="search-input" type="text" autocomplete="on" name="query">
         <style>
    </style>
        </div>
        <div class="search-element">
          <label class="search-label">Select a city area</label>
          <input class="search-input" type="text" class="" autocomplete="on" name="location">
        </div>
        <div class="search-element">
          <label class="search-label">-Km</label>
          <input class="search-input" type="text" class="" autocomplete="on" name="location">
        </div>
      <div>
        <%= link_to 'GigMe!', users_path, class: "search-button"%>
      </div>
  </div>
</form>
</div>
<p>There are 213 venues near you</p>
  </div>
</div>
