<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579125305607-15279d30d370?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container margin-top">
    <h1>GigMe</h1>
     <div style="height:50px"><span><h2 class= "subtitle-banner"></h2></span></div>
    <div><%= render "shared/searchbar" %></div>
    <%= link_to "All available Gigs", venues_path, class:"all-venues" %>
  </div>
</div>
