<div class="card-full m-3">
  <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= venue.image_url %>;)">
  </div>
  <div class="card-bottom">
    <h2><%= venue.name %></h2>
    <div class="pink-line"></div>
    <p><%= venue.address %></p>
    <div class="green-line"></div>
  </div>
</div>
