<div class= "carousel-card-full">
  <div class="events-container">
    <% event.each do |event| %>
      <div class="carousel-card-top">
          <%= event.start_time.strftime('%^a') %>
      </div>
      <div class="event">
        <%= event %>
      </div>
    <% end %>
  </div>
</div>