<div class="card-full m-3" data-aos="fade-up" data-aos-duration="1000">
  <% if venue.photo.attached? %>
    <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path venue.photo.key %>')"></div>
  <% end %>
  <div class="card-bottom">
    <div class="card-venue-name">
      <h2><%= venue.name %></h2>
    </div>
    <div class="card-pink-line"></div>
    <div class="card-venue-address">
      <p><%= venue.address %></p>
    </div>
    <div class="card-green-line"></div>
  </div>
</div>
