<div class="card-full m-3">
  <div class="card-bottom">
    <div class="card-text-day">
      <h2><%= venue.name %></h2>
      <div class="card-green-line"></div>
    </div>

    <div class="card-events">
    <%# iteration %>
    </div>
  </div>
</div>
