<div class="navbar">
  <div class="navbar-items">
     <%= link_to "Sign up", new_user_registration_path, class: "signuplogin" %>
      <%= link_to "Login", new_user_session_path, class: "signuplogin" %>
      <%= link_to "My Dashboard", dashboard_path, class: "signuplogin" %>
      <div class="card-pink-line-navbar"></div>
      <div class="card-green-line-navbar"></div>
  </div>
</div>
