<div>
  <form action="/venues" method="get">
    <div class="product-search">
      <div class="search-element">
        <label class="search-label">Choose a date:</label>
        <input class="search-input" type="text" autocomplete="on" name="query">
      </div>
      <div class="search-element">
        <label class="search-label">Select a city area</label>
        <input class="search-input" type="text" class="" autocomplete="on" name="location">
      </div>
      <div class="search-element">
        <label class="search-label">-Km</label>
        <input class="search-input" type="text" class="" autocomplete="on" name="location">
      </div>
      <div>
        <%= link_to 'GigMe!', venues_path, class: "search-button"%>
      </div>
    </div>
  </form>
</div>

<%= form_tag venues_path, method: :get do %>
  <div class="product-search">
    <div class="search-element">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        placeholder: "Find a venue"
      %>
    </div>
    <%= submit_tag "GigMe!", class: "search-button" %>
  </div>

<% end %>
