<div class="banner-show" style= "background-image: url(<%= @venue.image_url %>)">
  <div class="container banner-text my-5">
    <h1><%= @venue.name %></h1>
    <div class="banner-green-line"></div>
    <h2><%= @venue.address %></h2>
  </div>
</div>
