<div class="container">
  <h1>Venues#index</h1>
  <p>Find me in app/views/venues/index.html.erb</p>
  <p>Here we will show all the venues. 😀</p>

  <div class="container d-flex flex-wrap">
    <% @venues.each do |venue| %>
      <div class="card d-flex m-2">
        <img src="<%= venue.image_url %>" alt="random-pic">
        <h2><%= venue.name %></h2>
        <p><%= venue.address %></p>
        <p><%= venue.contact_details %></p>
      </div>
    <% end %>
  </div>
</div>
