<div class="container">
  <h1>Venues#index</h1>
  <p>Find me in app/views/venues/index.html.erb</p>
  <p>Here we will show all the venues. 😀</p>

<div class="container d-flex flex-wrap cards">
  <% @venues.each do |venue| %>
    <%= link_to venue_path(venue) do %>
      <%= render "shared/card", venue: venue %>
    <% end %>
  <% end %>
  </div>
</div>
