<%= render "shared/venue-show-banner", venue: @venue %>
<div class="container">
  <%= render "events/calendar", locals: {venue: @venue, events: @events} %>
</div>
<div id="accordion">
  <div class="tabs">
    <div class="images-tab">
      <div class="d-flex flex-column" style="width: 100%;">
        <div class="d-flex align-items-center justify-content-end" style="margin-bottom: -26px;">
          <div class="arrow-down-pink">
          </div>
          <h4 id="headingOne">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne" data-target="#collapseOne">
                Images
            </a>
          </h4>
        </div>
        <div class="tab-green-line"></div>
        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-collapse-left">
            <img src="https://lastfm.freetls.fastly.net/i/u/ar0/7a075ff9241544d2b85225ec4093fca7.jpg" alt="" id="image-show-page">
            <img src="https://eventlocations.imgix.net/rNnl3qeEoRUvJe5w6IrBeTOi6ctvfAgS2b2yO7Pi.jpg?ar=5%3A3&auto=compress%2Cformat&fit=crop" alt="alternatetext" id="image-show-page" >
            Calvin Harris performed here!!
          </div>
        </div>
      </div>
    </div>

    <div class="tabs-right">
      <div class="about-tab">
        <div class="text-arrow d-flex justify-content">
          <h4 id="headingTwo">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo" data-target="#collapseTwo">
              About
            </a>
          </h4>
          <div class="arrow-down-pink"></div>
        </div>
        <div class="tab-green-line"></div>
          <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-collapse">
              The bar opened in 1987 and has since grown into a convivial and musical place where many young musicians have launched their careers. With great drinks, a friendly staff and a small stage, it is a great place to start performing in front of an audience.
              <br>
              Come alone or with your friends, we guarantee you'll have a great time!!
            </div>
          </div>
      </div>

      <div class="reviews-tab">
        <div class="text-arrow d-flex justify-content">
          <h4 id="headingThree">
            <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree" data-target="#collapseThree">
              Reviews
            </a>
          </h4>
          <div class="arrow-down-green"></div>
        </div>
          <div class="tab-pink-line"></div>
              <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-collapse">
                  @Damian_beissel
                  <br>
                  <h3>Amazing place! Great atmosphere</h3>
                  <br>
                  ⭐️⭐️⭐️⭐️
                  <br>
                  <br>
                  @Marc_roden123
                  <br>
                  <h3>Great musicians and very good cocktails!!!!!</h3>
                  <br>
                  ⭐️⭐️⭐️⭐️⭐️
                  <br>
                </div>
              </div>
      </div>

      <div class="requirements-tab">
        <div class="text-arrow d-flex justify-content">
          <h4 id="headingFour">
          <a class="link-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour" data-target="#collapseFour">
              Requirements
            </a>
          </h4>
          <div class="arrow-down-pink"></div>
        </div>
        <div class="tab-green-line"></div>
          <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-collapse">
                  We have:
                  <br>
                  <br>
                  - a piano
                  <br>
                  - all the sound material
                  <br>
                  - very good cocktails
                  <br>
                  <br>
                  Bring your instrument and a good attitude and gig the night away!!
                </div>
              </div>
      </div>
    </div>
  </div>
</div>
