<%= render "shared/venue-show-banner", venue: @venue %>
<div class="container">
  <%= render "events/calendar", locals: {venue: @venue, events: @events} %>
</div>



<div class="tabs">
  <div class="images-tab">
    <h4>Images</h4>
    <div class="arrow-down-pink"></div>
    <div class="tab-green-line"></div>
  </div>
  <div class="tabs-right">
    <div class="about-tab">
      <div class="text-arrow d-flex justify-content">
        <h4>About</h4>
        <div class="arrow-down-pink"></div>
      </div>
      <div class="tab-green-line"></div>
    </div>
    <div class="reviews-tab">
      <div class="text-arrow d-flex justify-content">
        <h4>Reviews</h4>
        <div class="arrow-down-green"></div>
      </div>
      <div class="tab-pink-line"></div>
    </div>
    <div class="requirements-tab">
      <div class="text-arrow d-flex justify-content">
        <h4>Requirements</h4>
        <div class="arrow-down-pink"></div>
      </div>
      <div class="tab-green-line"></div>
    </div>
  </div>
</div>
