.booking-banner {
  h1 {
    color: #ffffff;
    font-family: 'Sora', sans-serif;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-weight: bold;
    font-size: 99px;
    line-height: 125px;
    position: absolute;
    letter-spacing: -0.05em;
    z-index: 2;
  }

  h2 {
    font-size: 40px;
    color: #ffffff;
    opacity: .7;
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: -0.05em;
    margin-bottom: 4%;
    position: absolute;
    top: 45%;
    left: 20%;
  }
}

.banner-green-line {
  width: 59%;
  position: absolute;
  height: 22px;
  background-color: #25CED1;
  top: 41%;
  left: 0%;
}