.booking-banner {
  position: relative;
  h1 {
    color: #ffffff;
    font-family: 'Sora', sans-serif;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-weight: bold;
    font-size: 99px;
    line-height: 125px;
    position: absolute;
    letter-spacing: -0.05em;
    z-index: 2;
    left: -12%;
  }

  #h21 {
    font-size: 40px;
    color: #ffffff;
    opacity: .7;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: -0.05em;
    margin-bottom: 4%;
    position: absolute;
    top: 3170%;
    left: 10%;
  }

  #h22 {
    font-size: 40px;
    color: #ffffff;
    opacity: .7;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: -0.05em;
    margin-bottom: 4%;
    position: absolute;
    top: 4340%;
    left: 10%;
  }

  .booking-banner-pink-line {
    width: 85%;
    position: absolute;
    height: 22px;
    background-color: $pink;
    top: 2381%;
    left: -34%;
    z-index: 0;
  }
}
