.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }

  .margin-top {
    margin-top: 200px;
  }

  .banner h1 {
    color: #ffffff;
    font-family: 'Sora', sans-serif;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-weight: bold;
    font-size: 99px;
    line-height: 125px;
    letter-spacing: -0.05em;
  }

  .banner h2 {
    font-size: 40px;
    color: #ffffff;
    opacity: .7;
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: -0.05em;
    margin-bottom: 4%;

  }

  .banner a {
    font-size: 20px;
    color: white;
    opacity: .7;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

.product-search {
  display: flex;
  align-items: center;
  background: black;
  border-radius: 50px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 72px;
  background: linear-gradient(115.07deg, rgba(48, 46, 46, 0.25) 1.75%, rgba(229, 0, 164, 0.25) 100%);
  border-radius: 92px;
  margin-bottom: 3%;
}

.search-element {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  border-right: 1px solid rgba(10,10,10,.1);
  padding: 1em;
  
}

.search-label {
  font-weight: 500;
  color: white;
  font-family: 'Inter', normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
}

.search-input {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: -0.05em;
  font-family: $inter;
  margin-top: 5px;
  background: linear-gradient(115.07deg, rgba(48, 46, 46, 0.25) 1.75%, rgba(229, 0, 164, 0.25) 100%);
  mix-blend-mode: exclusion;
  color: white;
}

.text-in-search-bar {
  color: #ffffff;
}
