.search-button {
  background-color: #E500A4;
  color: white;
  font-size: large;
  font-family: 'Inter', sans-serif;
  border-radius: 50px;
  opacity: 1;
  position: relative;
  margin-top: -6px;
  margin: 12px;
  display: block;
  height: 47px;
  text-align: justify;
  display: flex;
  align-items: center;
  margin-right: 30px;
  // flex-grow: 1;
  padding: 0 2em;
  letter-spacing: -0.05em;
  line-height: 80px;
  border: 0;
  font-weight: 100;
  transition: background-color 0.8s ease;
}


.search-button:hover {
  background-color: #b80986;
  border-color: #b80986;
  color: white;
  text-decoration: none;
}


.submit-button {
  background-color: #E500A4;
  color: white;
  font-size: large;
  font-family: 'Inter', sans-serif;
  border-radius: 50px;
  opacity: 1;
  position: relative;
  margin-top: 20px;
  float: right;
  display: block;
  height: 47px;
  text-align: justify;
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.submit-button:hover {
background-color: $green;
color: white;

}

.loginbutton {
  background-color: #E500A4;
  color: white;
  font-size: large;
  border-radius: 50px;
  opacity: 1;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: $inter;
  letter-spacing: -0.05em;
}

.create-event-button {
  background-color: #E500A4;
  color: white;
  font-size: large;
  border-radius: 50px;
  opacity: 1;
  position: relative;
  font-family: $inter;
  letter-spacing: -0.05em;
  margin: 50px auto 20px auto;
}

.create-event-button:hover {
  color: white;
  background-color: $green;
}

#message-button {
  background-color: #E500A4;
  color: white;
  font-size: large;
  border-radius: 50px;
  opacity: 1;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: $inter;
  letter-spacing: -0.05em;
  width: 80px;
  margin: 50px auto 20px auto;
}
