.search-button {
  background-color: #E500A4;
  color: #ffffff;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
  opacity: 1;
}

.search-button:hover {
  color: #ffffff;
}
