.card-full {
  width: 319px;
  height: 351px;
  position: relative;
}

.card-top {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 46.44%;
}

.card-bottom {
  background: linear-gradient(105.53deg, rgba(255, 255, 255, 0.15) 3.56%, rgba(37, 206, 209, 0.15) 104.41%);
  border-radius: 0px 0px 20px 20px;
  height: 171px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 51.28%;
  bottom: 0%;
  a{
    color: white;
  }
}

.card-venue-name {
  position: absolute;
  left: 4%;
  top: 9.96%;
  bottom: 25.93%;
  h2 {
    font-family: $inter;
    letter-spacing: -0.05em;
    font-size: 30px;
  }
}

.card-venue-address {
  position: absolute;
  left: 22.1%;
  top: 65.06%;
  bottom: 11.68%;
  p {
    font-family: $inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.05em;
  }
}

.card-pink-line {
  background-color: $pink;
  position: absolute;
  left: 0%;
  right: 41.42%;
  top: 22.95%;
  bottom: 26.21%;
  width: 186.88px;
  height: 17.02px;
  z-index: -1;
}

.card-green-line {
position: absolute;
left: 22.4%;
right: 0.18%;
top: 75.47%;
bottom: 9.68%;
background-color: $green;
height: 17.02px;
width: 246,96px;
z-index: -1;
}
