.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
}

.mapboxgl-ctrl-geocoder--input {
  margin: 0 auto;
  border-radius: 50px;
  width: 400px;
  height: calc(1.5em + 0.75rem + 2px);
}

#map-venue-index {
  width: 50%;

  height: 100vh;
  position: sticky;
  top: 0;
}

#map1 {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px 2px $pink;

#info-design {
  a {
    color: black;
    outline: none;
  }
}

.venue_address {
  svg {
    display: none;
  }
  .suggestions-wrapper {
    display: none;
  }
  .mapboxgl-ctrl-geocoder--button {
    display: none;
  }
  .mapboxgl-ctrl-geocoder {
    text-align: center;
  }
  button {
    display: none;
  }
}

.container .mapboxgl-ctrl-geocoder {
  float: right;
}
