.navbar {
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
  z-index: 10;
  height: auto;
}

#homenavbar {
  margin-bottom: -50px;
}

.signuplogin {
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  object-position: 80% 100%;
  left: 78%;
  right: 1.81%;
  top: 1.29%;
  bottom: 98.09%;
  letter-spacing: -0.05em;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}


.signuplogin:hover {
  color: white;
}

.navbar-items {
  display: flex;
  justify-content: left;
}

.card-pink-line-navbar {
  background-color: $pink;
  position: absolute;
  right: 0%;
  top: 65%;
  bottom: 26.21%;
  width: 530px;
  height: 5px;
  z-index: -1;
}

.card-green-line-navbar {
position: absolute;
left: 83.4%;
right: 0%;
top: 90%;
bottom: 96.85%;
background-color: $green;
height: 5px;
width: 246,96px;
z-index: -1;
}

.gigmelogo {
  color: white;
  letter-spacing: -0.05em;
  font-size: 50px;
  line-height: 36px;
  font-family: $inter;
  justify-content: flex-start;
}

.gigmelogo:hover {
  color: white;
}
