.signuplogin {
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  object-position: 80% 100%;
left: 78%;
right: 1.81%;
top: 1.29%;
bottom: 98.09%;
font-weight: bold;
font-size: 30px;
line-height: 36px;

}

.signuplogin:hover {
  color: white;
}
