.signuplogin {
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  object-position: 80% 100%;
  position: absolute;
width: 451px;
height: 29.07px;
left: 990px;
top: 31px;

}

.signuplogin:hover {
  color: white;
}
