.signuplogin {
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  object-position: 80% 100%;
  position: relative;
    left: 60%;
    top: 2%;
  margin-top: 0%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  display: flex;
}

.signuplogin:hover {
  color: white;
}
