.simple-calendar {
  margin-top: 5%;
  table {
    min-height: 30vh;
    border-radius: 20px;
  }
  .today {
    background-color: $pink;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}

.table {
  color: white;
}

.button-calendar {
  display: flex;
  justify-content: center;
  button {
    #button-text {
      padding-top: 20%;
      margin-bottom: 1rem;
      padding-left: 20%;
      font-family: $sora;
    }
  }
  button:hover {
    background-color: #b80986;
    border-color: #b80986;
    color: white;
  }
}

.search-button2 {
  background-color: #E500A4;
  color: white;
  font-size: large;
  font-family: 'Inter', sans-serif;
  border-radius: 50px;
  opacity: 1;
  position: relative;
  margin-top: -6px;
  margin: 12px;
  display: block;
  height: 47px;
  text-align: justify;
  display: flex;
  align-items: center;
  margin-right: 30px;
}


.btn-pink {
  color: #fff;
  background-color: #e500a4;
  border-color: #e500a4;
  border-radius: 19px;

}

.btn-outline-pink {
  color: #fff;
  border-color: #e500a4;
  border-radius: 19px;
}

.btn-pink:hover {
  background-color: #b80986;
  border-color: #b80986;
  color: white;
}

.btn-outline-pink:hover {
  color: rgb(180, 176, 176);
}

