.tabs {
  display: flex;
  justify-content: space-between;
}
.tabs-right {
  width: 45%;
}

.text-arrow {
  transform: translate(-1px, 22px);
}

.images-tab {

  width: 45%;

  h4 {
    color: white;
    font-family: $inter;
    font-size: 45px;
    letter-spacing: -0.05em;
    transform: translate(78%, 278%);
    position: relative;
    z-index: 1;
  }

  .tab-green-line {
    width: 100%;
    height: 22px;
    background-color: $green;
    transform: translate(0%, 472%);
    z-index: -1;
  }

  .arrow-down-pink {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $pink;
    transform: translate(1165%, 576%);
    position: relative;
    z-index: 1;
  }

  .arrow-down-green {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $pink;
    transform: translate(637%, 576%);
    position: relative;
    z-index: 1;
  }
}

.about-tab {
  h4 {
    color: white;
    font-family: $inter;
    font-size: 45px;
    letter-spacing: -0.05em;
    // transform: translate(59%, 92%);
    position: relative;
    z-index: 1;
  }

  .tab-green-line {
    width: 100%;
    height: 22px;
    background-color: $green;
    // transform: translate(76%, 32%);
    z-index: -1;
  }

  .arrow-down-pink {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $pink;
    transform: translate(3px, 26px);
    position: relative;
    z-index: 1;
  }
}

.reviews-tab {
  h4 {
    color: white;
    font-family: $inter;
    font-size: 45px;
    letter-spacing: -0.05em;
    // transform: translate(59%, 92%);
    position: relative;
    z-index: 1;
  }

  .tab-pink-line {
    width: 100%;
    height: 22px;
    background-color: $pink;
    // transform: translate(76%, 32%);
    z-index: -1;
  }

  .arrow-down-green {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $green;
    transform: translate(3px, 26px);
    position: relative;
    z-index: 1;
  }
}

.requirements-tab {
  h4 {
    color: white;
    font-family: $inter;
    font-size: 45px;
    letter-spacing: -0.05em;
    // transform: translate(59%, 92%);
    position: relative;
    z-index: 1;
  }

  .tab-green-line {
    width: 100%;
    height: 22px;
    background-color: $green;
    // transform: translate(76%, 32%);
    z-index: -1;
  }

  .arrow-down-pink {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $pink;
    transform: translate(3px, 26px);
    position: relative;
    z-index: 1;
  }
}

.link-collapse{
  text-decoration: none;

}

.card-collapse {
  color: white;
  background-color: #1B1B1D;
  border-radius: 10px;
  position: absolute;
  width: 577px;
  height: 331px;
  left: 863px;
  top: 1121px;
}
